.div1{
    background-color: red;
    text-align: center;    
}
.header1{
    background-color: green;
    text-align: center;        
}
.section1{
    background-color: yellow; 
}
.article1{
    background-color: pink;
    text-align: center; 
}
.footer1{
    background-color: orange;
    text-align: center; 
}
.nav1{
    background-color: gray;
    text-align: center; 
}

h1, h2, body{
    margin: 0px;
}

button{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
}

img{
    max-width: 100%;
}

.textSize{
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: lightgreen;
    font-size: 2rem;
}    

a:hover {
    color: lightsalmon;
}